.card-div {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
}

.top-row {
    display: flex;
    gap:5em;
}

.top-row-cell{
    display: flex;
    gap:0.5em;
}

.info-box {
    background-color: #D9D9D9;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

.bottom-row {
    display: flex;
    margin-top: 10px;
    gap: 1em;
    max-width: 75%;
}

.summary-box {
    background-color: #e0e0e0;
    padding: 5px;
    flex-grow: 1;
}

.buttons-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 0.5;
}

.header-div {
    display: flex;
    margin-left: 1em;
    gap:1em;
}

.header-div img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.mobile-applicant-wrapper {
    display: none;

}

@media only screen and (max-width: 768px) {
    .card-div {
        display: none;
    }

    .card-div-mobile {
        background-color: #575DFB;
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap:1em;
        margin-bottom: 1em;

    }

    .mobile-row-name {
        text-align: center;
    }

    .mobile-row-info {
        display: flex;
        gap:2em;
        align-items: center;
        justify-content: center;
    }

    .mobile-row {
        background-color: white;
        padding: 10px;
    }

    .mobile-applicant-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-bottom: 1em;
        display: block;
    }

    .info-box {
        background-color: #D9D9D9;
        padding: 5px;
        text-align: center;
        border-radius: 10px;
    }

    






  } 

  @media only screen and (min-width: 769px) {
   .card-div {
    display: block;
   }






  } 

