.ce-job-form-container {
    background-color: #f4f4f4; 
    padding: 2rem;
    margin: 2rem auto;
    width: 60%; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  .ce-job-form-container-upper {
    text-align: center;
    margin-bottom: 1rem;
  }
  .ce-job-form-container h1 {
    color: #333; 
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .ce-job-form-container form {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
  }
  
  .ce-job-form-container label {
    margin-bottom: .5rem;
    text-align: left;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  
  .ce-job-form-container input[type="text"],
  .ce-job-form-container input[type="date"],
  .ce-job-form-container textarea {
    width: 100%; 
    padding: 0.8rem;
    margin-bottom: 1rem; 
    border: 1px solid #ccc; 
    border-radius: 10px;
  }
  
  .ce-job-form-container textarea {
    resize: vertical;
    height: 150px; 
    background-color: lightgrey;
    
  }

  .ce-job-form-container input {
    background-color: lightgrey;
  }
  .ce-job-form-container button[type="submit"] {
    background-color: #4e73df;
    color: white;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    display: block;
    margin: auto;
  }
  
  .ce-job-form-twos{
    display: flex;
    gap: 10rem; 
    grid-gap: 4rem;
  }

  .ce-job-form-container button[type="submit"]:hover {
    background-color: #6a8ad6; 
  }
  
  .jobdesc textarea {
    width: 200%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: lightgrey;
    margin-top: 0.5rem;
  }
  
  @media only screen and (max-width: 600px) {
    .ce-job-form-container {
      padding: 1rem;
      margin: 1rem;
      width: 90%;
    }
  
    .ce-job-form-container form {
      grid-gap: 0.5rem;
    }
  
    .ce-job-form-container label,
    .ce-job-form-container input[type="text"],
    .ce-job-form-container input[type="date"],
    .ce-job-form-container textarea {
      width: 100%;
    }
  
    .ce-job-form-container textarea {
      height: 150px;
    }
  
    .ce-job-form-container button[type="submit"] {
      width: 100%;
      padding: 1rem;
    }
  
    .jobdesc textarea {
      width: 100%;
      margin-top: 0.5rem;
    }
  
    .ce-job-form-twos {
      display: block; /* stack the elements instead of flex */
      gap: 0;
    }
  }
  