.job-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    width: 250px; 
  }
  
  .job-card-actions {
    text-align: right;
  }
  
  .edit-button,
  .close-button {
    margin-right: 5px;
  }
  
  .company-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .job-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .add-job-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .filter-container {
    margin-bottom: 20px;
    background-color: #D9D9D9;
  }
  
  .filter-input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .jobs-page {
    display: flex;
    flex-direction: row;
    gap : 5em;
  }
  
  .filter-sidebar {
    width: 200px; 
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
 
  }
  
  .main-content-jobs {
    margin-left: 15em;
    width: 100%;
    padding: 20px;
    background-color: #D9D9D9;
    z-index: 999;
    
   

  } 

  .job-card {
    background-color: white;
    cursor: pointer;

  }

  .filter-sidebar {
    background-color: #D9D9D9;
  }


  .job_container {
    padding: 20px;
    margin-bottom: 100px; 
}

.job_rows {
    height: 100%;
    display: flex;
    flex-direction: row;
    /* margin-bottom: 200px;  */
}

.job_col {

    display: flex;
    flex-direction: row;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.job_card_space {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

h1 {
    align-self: center;
    flex-grow: 3;
}

.sidebar {
    /* background-color: #2C3639; */
    height: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 40px 20px;
    justify-content: flex-start;
    align-items: center;
    
}

.custom_formcheck {
    width: 100%;
    padding: 20px;
    /* color: black;
    background-color: #93B1A6; */
    border: 1px solid gray;
    border-radius: 10px;
    transition: 0.3s;
}

.job_title{
    width: 100%;
}

label {
    cursor: pointer;
    align-self: center;
    font-size: 1.26em;
}

.custom_formcheck:hover {
    transform: scale(1.05);
}

.searchBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    margin: 5px;
}

.searchfield { 
    width: 60%;
    height: 100%;
}

.searchbutton {
    height: 100%;
    border: 0px;
    background-color: #A27B5C;
    transition: 0.03s;
}

.searchbutton:hover {
    transform: scale(1.04);
}



.job-card-buttons {
  display: flex;
  justify-content: space-between;
}

.job-card-buttons button {
  width: 4em;
  height: 4em;
  font-size: 0.9em;
  text-align: center;
}

