


.job-card-buttons {
  display: flex;
  justify-content: space-between;
}

.job-card-buttons button {
  width: 4em;
  height: 4em;
  font-size: 0.9em;
  text-align: center;
}

.job-card {
  background-color: white;
  padding: 0.5em;
  max-height: 16em;
}

.jobs-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
 
  padding:1em;


}


.create-job-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.job-main-content-wrapper {
  display: flex;
  gap:1em;
  flex-grow: 2;
}

.company-logo {
  width: 5em;
  height: 5em;
}

.jobs-container {
  margin-left: 1em;
  display: none;
  height: 100vh;
  width: 100%;
  
}

.job-right-div {
  flex-grow: 2;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
}


.job-mobile-container{
  display: none;
}

@media only screen and (max-width: 768px) {
  
  .job-mobile-container {
    display: none;
    display: flex;
    flex-direction: column;
    gap:1em;
  }

  .jobs-body-mobile {
    display: flex;
    flex-direction: column;
    gap:1em;
    background-color: #D9D9D9;
    padding:1em;
    margin-left: 0;
  }

  .job-main-content-wrapper-mobile {
    display: flex;
    flex-direction: column;
    gap:1em;
  }






} 

@media only screen and (min-width: 769px) {
  .jobs-container {
    display: flex;
    flex-direction: column;
  }

}