
.circle-image {
    width: 60%;
    height: 50%;
    border-radius: 50%;
    margin-bottom: 20px;
    padding:1.5em;
    background-color: #D9D9D9;

}

.change-image {
    cursor: pointer;
    color: #575DFB;
    
}

.circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-container {
    width: 90%;
    margin: auto;
    background: #D9D9D9;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .written-form {
    flex-grow: 0.75;
  }

  .image-form {
    flex-grow: 0;
  }

  .small-screen-button {
    display: none;
  }

  .large-screen-button {
    display: block;
  }
  

  @media only screen and (max-width: 768px) {
    #large-screen-button {
      display: none;
    }
    #small-screen-button {
      display: block;
    }

    .form-container {
      display: flex;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 2em;
      border-radius: 10px;
      gap:1em;
      background-color: #f2f2f2;
      flex-direction: column-reverse;
  }






  } 

  @media only screen and (min-width: 769px) {
    #large-screen-button {
      display: block;
    }
    #small-screen-button {
      display: none;
    }

    .form-container {
      display: flex;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 2em;
      border-radius: 10px;
      gap:2em;
      background-color: #f2f2f2;
  }






  } 



  